.header {
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #24292e;
    border-radius: 4px;
}

.header__logo {
    width: 50px;
    height: 50px;
}